*_pb2.py
*.pyc
*.pb-c.h
*.pb-c.c
*~
*.o
*.log
*.trs
*.so
*.dep
*.lo
*.la
config.*
*.in
Makefile
.deps
.libs
.dirstamp
*.swp

.gitignore
aclocal.m4
autom4te.cache/
compile
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
nsb
nsb_config.h
py-compile
stamp-h1
test-driver
tests/ext_global_func.py
tests/lib_global_func.py
tests/lib_global_func_cb.py
tests/lib_global_func_p.py
tests/lib_global_var.py
tests/lib_global_var_addr.py
tests/lib_static_func.py
tests/lib_static_func_cb.py
tests/lib_static_var.py
tests/nsb_test_types.py
tests/nsbtest
